# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Provas/Prova-01/main
.vscode/settings.json
Provas/Prova-02-Heranca/bin/tester
Provas/Prova-02-Heranca/.vscode/settings.json
Provas/Prova-02-Heranca/bin/main
